<br/>
<% @medium_data.each do |post| %>
  <h1 class="graf graf--h3 graf--leading graf--title" style="color:red"> <%= post['latestPublishedAt']%> <%= post['title'] %> </h1>
    <% post.hash.each_with_index do |text, index| %>
        <% if index == 0 %>
            <% next %>
        <% elsif index.even? %>
            <%= text['text'] %>
        <% else %>
            <%= text['text'] %>
        <% end %>
        <br/>
    <% end %>
<% end %>
