@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Pavanam&subset=latin-ext,tamil';
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Chewy|Lobster|Orbitron|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Lemonada');



/* ------------------NAVBAR CSS START---------------------- */


/* ------------------NAVBAR CSS START END---------------------- */





body {
   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Pavanam', sans-serif;
  margin: 0;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
  margin-bottom: 0;
}

h2 {
  color: white;
  font-size: 18px;
  margin-top: 0;
}

h3 {
  padding-top: 70px;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin-top: 100px;
}

h4 {
  text-align: center;
  font-size: 24px;
}

p {
  font-size: 16px;
  text-align: center;
}







.about {
  background-color: rgba(173,173,173,0.9);
  border-radius: 0px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  margin-bottom: auto;
  text-align: center;
  padding: 20px;
  
}

.about-container {
  background: url('bg.jpg') no-repeat center center fixed;
  height: 700px;
  margin-top: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.bio {
  color: white;
}
.blue{
  color: #56AECC;
  font-size: 38px;
}

.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
}

.clear {
  clear:both;
}

.contact-headline {
  color: white;
}

.contact-info {
  color: white;
  font-size: 13px;
  margin-top: 30px;
}

.contact-link {
  color: white;
  font-weight: bold;
  font-size: 13px;
}

.contact-me {
  height: 350px;
  background-color: #202020;
  padding-top: 30px;

}

.foodster {
  color: #F7B10C; /* foodster brand color */
  font-family: 'Chewy', cursive;
  font-size: 45px;
  letter-spacing: -0.5px;
  transition: all 0.5s ease;
}
.grammbles {
  color: #3A68E8;
  font-size: 35px;
  font-family: 'Bungee Shade', cursive;
}

.icons {
  text-align: center;
  margin: 30px 0;

}

.light-red {
  border-top: 1px double #F55B5B;
  width: 250px;
}

.override{
  color: black;
}

.profile_photo {
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  margin-top: 40px;
}
.red {
  height: 1px;
  background-color: #F55B5B;
  border: none;
  width: 100px;
}

.skills-and-tools {
  max-width: 400px;
  margin: 40px auto;
}
.span {
  font-size: 38px;
}

.splurty {
  color:red;
  font-family: 'Lemonada', cursive;
  letter-spacing: -1px;
  font-size: 36px;
}

.webapps-container{
  background: url('bg.jpg') no-repeat center center fixed;
  height: 700px;
  margin-top: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.webappbox{
  background-color: rgba(173,173,173,0.9);
  border-radius: 0px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  height:700px;
}
.white {
  color: grey;
  font-size: 38px;
}













