<!DOCTYPE html>
<html>
<head>
  <title>MainPortfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Nav bar start-->
<ul>
  <li style="float:right"><a class="active" href="#about">Resume</a></li>
  <li style="float:right"><a class="active" href="#about">My Blog</a></li>
  <li style="float:right"><a class="active" href="#about">Contact Me</a></li>
  <li style="float:right"><a class="active" href="#about">My Web Apps</a></li>
  <li style="float:right"><a class="active" href="#codesnippets">Code Snippets</a></li>
  <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>

<!-- Nav bar end-->


<%= yield %>

</body>
</html>
